@use '../Global/Colors.scss' as Colors ;
@use '../Global/mixins/Flex.scss' as *;
@use '../Global/BreakPoints.scss' as BREAK;



.section {
    margin-block: 2rem;
    padding: 2rem 0;
    &--dark-bg{
        background-color: Colors.$back-shadow-100;
    }
    &__header{
        @include flex(column);
        gap: 2rem;
        margin-bottom: 2rem;
        @include BREAK.media(sm){
            flex-direction: row;
            align-items: flex-end;
        }

        &__link{
            text-decoration: underline;
            color: Colors.$blue;
        }
        
        &__navigation{
            font-size: 3rem;
            margin-left: auto;
            &__next,
            &__prev{
                width: 2rem;
                color:Colors.$back-shadow-1500;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    &__holder{
        &__card{
            max-width: fit-content;
        }
    }
}


