@use '../Global/Colors.scss' as Colors ;
@use '../Global/mixins/Flex.scss' as *;
@use '../Global/BreakPoints.scss' as BREAK;




.order-holder{
    margin-block: 5rem; 
    .container{
        @include flex(column);
        gap: 1rem;
    }

    &__title{
        border-bottom: Colors.$back-shadow-1000 solid 1px;
    }

    &__container{
        height: 60rem;
        overflow: auto;
        @include flex(column);
        gap: 1rem;
        
        &__no-items{
            height: inherit;
            @include flex(column,center,center);
            gap: 1rem;
            i{
                font-size: 4rem;
            }
            
            &__btn{
                border: none;
                padding: 1rem;
                background-color: Colors.$orange;
                color: Colors.$white;
                border-radius: .5rem;
                transition: .5s;
                &:hover{
                    background-color: darken(Colors.$orange,5%);
                    cursor: pointer;
                }
            }
        }

        
    }
}