@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600&display=swap');
// 'Plus Jakarta Sans' 


.link-xl{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.link-l{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.link-l-bold{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}

.link-s{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.link-xs{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}

.link-xxs{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.link-id{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}


.button-l{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}


.button-s{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}




.headline-xxl{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 6rem;
}

.headline-xl{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 5.6rem;
}

.headline-l{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 4.8rem;
}

.headline-s{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

.headline-xs{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
}


.paragraph-l{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.paragraph-s{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin-block: 2.5rem;
}